[
  {
    "id": "network-node",
    "host": "inference",
    "inference_port": {{ inference_port }},
    "poc_port": {{ management_port }},
    "max_concurrent": 500,
    "models": {
      "{{ cluster_models[cluster_name].network_node_model }}": {
        "args": {{ model_configs[cluster_models[cluster_name].network_node_model].args | to_json }}
      }
    }
  }
]
